<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adiciona</title>
</head>
    <body>
        <form action="#" th:action="@{/salva}" th:object="${usuario}" method="post">
            <label for="nome">Nome</label>
            <input type="text" th:field="*{nome}" id="nome" placeholder="Nome">
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
            <label for="senha">Senha</label>
            <input type="text" th:field="*{senha}" id="senha" placeholder="Senha">
            <span th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>
            <input type="submit" value="Salva">
        </form>
    </body>
</html>