<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acessar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<div id="login">
    <form action="#" th:action="@{/update}" th:object="${usuario}" method="post">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Informe seus Dados para Acessar</h3>

<!--                            <div class="form-group">-->
<!--                                <label for="idUsuario" class="text-info">Id Usuário:</label><br>-->
<!--                                <input type="text" th:field="*{idUsuario}" name="username" id="idUsuario" placeholder="idUsuario" class="form-control">-->
<!--                                <span th:if="${#fields.hasErrors('idUsuario')}" th:errors="*{id}"></span>-->
<!--                            </div>-->

                            <div class="form-group">
                                <label for="nome" class="text-info">Nome:</label><br>
                                <input type="text" th:field="*{nome}" name="password" id="nome" placeholder="Nome" class="form-control">
                                <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                            </div>

                            <div class="form-group">
                                <label for="senha" class="text-info">Senha:</label><br>
                                <input type="text" th:field="*{senha}" name="password" id="senha" placeholder="Senha" class="form-control">
                                <span th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">
                            </div>

                            <button input type="submit" value="Update" class="btn btn-primary">Acessar</button>
                    </div>
    </form>
</div>
</div>
</div>
</div>
</div>
</body>
</html>