<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acessar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    <div class="m-3 logingForm">
        <form class="float-left" th:action="@{/efetuaLogin}"
              th:object="${loginform}" method="post" id="demo-form">
            <h3>Username</h3>
            <input id="username" type="text" th:value="${admin}" th:field="*{username}" />
            <h3>Senha</h3>
            <input id="password" type="password" th:value="${admin}" th:field="*{password}" /> <br>
            <br>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
    </div>

</body>
</html>