<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Salva</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

<div id="login">
    <h3 class="text-center text-white pt-5">Salva</h3>
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <h3 class="text-center text-info">Usuário Salvo com Sucesso!</h3>
            <br /><br />
              <div class="d-grid gap-2 col-6 mx-auto">
                <form th:action="@{/consulta}">
                  <button input type="submit" value="voltar" class="btn btn-primary">Voltar para Consulta</button>
                </form>
                <br /><br />
                <form th:action="@{logout}">
                  <button input type="submit" value="sair" class="btn btn-primary">SAIR</button>
                </form>

              </div>

              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>